.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--blue);
    width: 100%;
    padding: 30px 25px 10px 25px;
    cursor: pointer;
}

.card {
    border-radius: var(--card-border-radius);
    border: 1px solid var(--border-gray);
    overflow: hidden;
    margin: 8px 0;
    height: var(--card-height);
    max-height: var(--card-max-height);
}

.line {
    display: flex;
    flex: 1;
}

.line > span {
    color: var(--white);
    font-weight: 400;
}

.state {
    justify-content: flex-end;
}

.state > img {
    width: 35px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
}
