:root {
    --background-color: #eeeeee;
    --black: #101010;
    --blue: #2e71f0;
    --light-blue: #73b3ec;
    --light-gray: #e3e6eb;
    --gray: #808080;
    --white: #ffffff;
    --border-gray: #e2e2e2;

    --card-border-radius: 20px;
    --card-height: 155px;
    --card-max-height: 155px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}
